[data-about-section] {
    height: fit-content;
    width: 100%;
    background-color: #f2f2f2;

    .about-section-container {
        width: 90%;
        padding: 5rem 1rem;
        margin: 0 auto;
        max-width: 800px;

        @media (max-width: $medium-mobile) {
            width: 95%;
            padding: 5rem 0.5rem;
        }

        &__text-image-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;

            @media (max-width: $large-mobile) {
                grid-template-columns: 1fr;
            }
        }

        // There are too many repeated styles here. It might more sense to make .reverse a class of its own.
        &__text-container {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 2rem 2rem 2rem 0;

            @media (max-width: $large-mobile) {
                padding: 2rem 0 2rem 0;
            }

            &--reverse {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 2rem 0 2rem 2rem;
                grid-column: 2 / 2;
                grid-row: 2 / 2;

                @media (max-width: $large-mobile) {
                    grid-column: 1 / 1;
                    grid-row: 3 / 3;
                    padding: 2rem 0 2rem 0;
                }
            }
        }

        &__image-container {
            height: 17.5rem;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 2rem 0 2rem 2rem;

            @media (max-width: $large-mobile) {
                padding: 2rem 0 2rem 0;
            }

            &--reverse {
                height: 17.5rem;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 2rem 2rem 2rem 0;

                @media (max-width: $large-mobile) {
                    padding: 2rem 0 2rem 0;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                }
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }
        }
    }
}
