[data-events-section] {
    width: 100%;
    background-color: white;

    .events-section-container {
        width: 90%;
        padding: 5rem 1rem;
        margin: 0 auto;
        max-width: 800px;

        @media (max-width: $medium-mobile) {
            width: 95%;
            padding: 5rem 0.5rem;
        }

        &__card {
            background-color: lightgray;
            width: 50%;
            height: 25rem;
            border-radius: 0.5rem;
        }

        &__image-container {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            height: 40%;
            width: 100%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
